:root {
  --header-bg: #ff6900;
  --price: red;
  --label: #008000;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.center {
  margin: 0 auto;
  width: 80%;
}

/* COMMON */

.flex {
  display: flex;
}

ul {
  list-style: none;
}

/* Typography */

h2 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.6rem;
  font-weight: 400;
}

.price {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--price);
}
.old-price {
  text-decoration: line-through;
  font-weight: 600;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
/* /Typography */

/* HEADER */
header {
  background-color: var(--header-bg);
  height: 80px;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Nav */

nav {
  color: white;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  border: 1px dashed black;
}

.nav-col {
  width: calc(100% / 4);
  border: 1px dashed black;
}

.logo-col {
  text-align: center;
  padding: 0.5rem 0;
  vertical-align: middle;
}

.logo {
  width: 50%;
  justify-self: center;
  border: 1px dashed black;
}

.type {
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed black;
}

.social {
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  border: 1px dashed black;
}

/* /Nav */

/* /HEADER */

/* MAIN */
main {
  margin-top: 80px;
}
/* Grid */

.grid {
  /* debug */
  /* background-color: aqua; */
  padding: 3rem 0;
}

.row {
  /* debug */
  /* background-color: blueviolet; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  /* debug */
  width: calc(90% / 3);
  /* background-color: chartreuse; */
  position: relative;
  margin-bottom: 1rem;
}

.description {
}

.extra {
  position: absolute;
  left: 0;
  bottom: 70px;
}

.discount {
  display: inline-block;

  color: #fff;
  padding: 0.3em 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
}

.coupon {
  background-color: var(--price);
}

.label {
  background-color: var(--label);
}

.heart {
  padding: 0.3em 0.5em;
  background-color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 0;
}

.heart:hover {
  color: red;
}

.card-img {
  display: block;
}

.card-img-hidden {
  display: none;
}

.img:hover .card-img {
  display: none;
}

.img:hover .card-img-hidden {
  display: initial;
}

/* /Grid */

/* /MAIN */

/* FOOTER */

footer {
  background-color: #1a1a1a;
  height: 80px;
}

/* /FOOTER */
