:root {
  --header-bg: #ff6900;
  --price: red;
  --label: #008000;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.center {
  margin: 0 auto;
  width: 80%;
}

/* COMMON */

.flex {
  display: flex;
}

ul {
  list-style: none;
}

/* Typography */

h2 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
}

.price {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--price);
}
.old-price {
  text-decoration: line-through;
  font-weight: 600;
  font-size: 0.8rem;
}
/* /Typography */

/* HEADER */
header {
  background-color: var(--header-bg);
  height: 80px;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
/* Nav */

nav {
  border: 1px solid black;
}

.nav-container {
  justify-content: space-between;
}

.nav-col {
  width: calc(100% / 4);
}

.social {
  justify-content: flex-end;
}

/* /Nav */

/* /HEADER */

/* MAIN */

/* Grid */

.grid {
  /* debug */
  /* background-color: aqua; */
  padding: 3rem 0;
}

.row {
  /* debug */
  /* background-color: blueviolet; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  /* debug */
  width: calc(90% / 3);
  /* background-color: chartreuse; */
  position: relative;
}

.extra {
  position: absolute;
  left: 0;
  bottom: 70px;
}

.discount {
  display: inline-block;

  color: #fff;
  padding: 0.3em 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
}

.coupon {
  background-color: var(--price);
}

.label {
  background-color: var(--label);
}

.heart {
  padding: 0.3em 0.5em;
  background-color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 0;
}

.heart:hover {
  color: red;
}

.card-img {
  display: block;
}

.card-img-hidden {
  display: none;
}

.img:hover .card-img {
  display: none;
}

.img:hover .card-img-hidden {
  display: initial;
}

/* /Grid */

/* /MAIN */

/* FOOTER */
/* /FOOTER */
